@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
.light code[data-theme*=" "],
.light code[data-theme*=" "] span {
  color: var(--shiki-light);
}
.light pre,
.light code {
  background-color: var(--shiki-light-bg);
}

/* Dark mode styles */
.dark code[data-theme*=" "],
.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
}
.dark pre,
.dark code {
  background-color: var(--shiki-dark-bg);
}
