@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jet-brains-mono: "JetBrains Mono", monospace;
}

body {
  font-family: var(--font-jet-brains-mono);
}

pre code {
  font-family: var(--font-jet-brains-mono), monospace;
}

pre code span {
  font-family: var(--font-jet-brains-mono), monospace;
}
